[Desktop Entry]
Type=Application
Name=Mr.Settings
GenericName=System Settings
Comment=System Settings for Mr.RobotOS
Exec=mrsettings
Icon=mrsettings
Categories=Settings;System;
Keywords=settings;system;network;display;sound;bluetooth;wifi;appearance;
